name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  go-ci:
    uses: go-zen-chu/.github/.github/workflows/go-ci.yaml@main
    with:
      go-version-file: go.mod
      working-directory: .
