name: push-image
on:
  push:
    branches:
      - main

jobs:
  build-image-publish:
    name: build docker image
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    steps:
      - uses: actions/checkout@v6

      - name: publish image with timestamp
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: amasuda/issue2md
          addTimestamp: true
          registry: docker.io # TIPS: hub.docker.com is a website and not a container registry
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: publish image with latest tag
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: amasuda/issue2md
          tags: latest
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
