# test action using dockerfile in this repository
name: test-issue2md
on:
  issues:
    types:
      - closed
jobs:
  issue2md:
    runs-on: ubuntu-latest
    name: Convert closed issue to markdown with test action
    # make sure kicking this workflow when issue has `test` label
    if: ${{ contains(github.event.issue.labels.*.name, 'test') &&
      github.event.issue.state_reason == 'completed' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: test
      - name: (Private Action) issue2md step
        # Make sure using a test action
        uses: ./tests/
        id: test-issue2md
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-url: ${{ github.event.issue.html_url }}
          export-dir: ./issues
          debug: true
      - name: Send custom JSON data to Slack when issue2md failed
        if: failure()
        id: slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          payload: |
            {
              "text": ":warning: GitHub Action build result: ${{ job.status }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "GitHub Action build result: ${{ job.status }}\nActions URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }
        env:
          # currently, it is set to my personal slack channel
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
      - name: Check diff
        id: diff
        run: |
          set -x
          git add -N .
          # it gets exit code 0 when no diff found
          git diff --name-only --exit-code
        continue-on-error: true
      - name: Push to main branch if any updates exist
        if: steps.diff.outcome == 'failure'
        run: |
          set -e
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git diff
          git diff-index HEAD
          git add --all
          git commit -m "[skip ci] [GitHub Action] Update automatically"
          git push
